.users-card {
  margin: 1rem;
  width: 90%;
}
.users-heading {
  text-align: center;
  color: rgb(60, 186, 60);
  font-size: large;
}

ul {
  margin: .3rem;
  margin-bottom: 2rem;;
  list-style: none;
  padding: .3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
